.information-container {
  margin-top: 20px;
  width: 100%;
  height: 500px;
  box-shadow: 1px 8px 27px -11px rgba(32, 32, 37, 1);
}

.information-container-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.information-container-left {
  width: 50%;
  float: left;
  height: 100%;
}

.information-container-right {
  width: 50%;
  height: 100%;
  background-color: white;
  float: left;
  padding-top: 75px;
  padding-left: 70px;
}

.information-container-right p {
  font-size: 22px;
  text-align: justify;
}

.information-container-right h1 {
  font-size: 35px;
}

.information-container-right-button {
  position: relative;
  margin-top: 35px;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid rgb(43, 43, 214);
  color: rgb(27, 27, 223);
  padding: 15px;
  background-color: white;
}

.information-container-right-button:hover {
  border: 3px solid rgb(72, 72, 235);
  color: white;
  background-color: #114ace;
}

 @media only screen and (max-width: 1280px) {
  .information-container-right {
    padding-top:45px;
    padding-left: 35px;
  }
  .information-container-right h1 {
    font-size: 32px;
  }
  .information-container-right p {
    font-size: 20px;
    text-align: justify;
  }
  .information-container {
    height: 400px;
  }
}

@media only screen and (max-width:1120px) {
  .information-container {
    height: 820px;
    box-shadow: none;
  }

  .information-container-right-button {
    margin-top: 20px;
  }

  .information-container-left {
    width: 100%;
    height: 500px;
  }

  .information-container-right {
    width: 100%;
    padding-top: 20px;
    padding-left: 0px;
    text-align: center;
    height: 330px;
    box-shadow: 1px 8px 27px -11px rgb(12, 12, 63);
  }

  .information-container-right p {
    font-size: 21px;
    text-align-last: center;
  }

  .information-container-right h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 900px) {
  .information-container-right {
    box-shadow: 1px 8px 27px -11px rgba(32, 32, 37, 1);
  }

  .information-container-right p {
    font-size: 20px;
  }

  .information-container-right-button {
    font-size: 18px;
  }
}

@media only screen and (max-width:600px) {
  .information-container {
    height: 610px;
  }

  .information-container-right {
    padding-top: 15px;
    padding-left: 2px;
    height: 260px;
    box-shadow: 1px 8px 27px -11px rgba(32, 32, 37, 1);
  }

  .information-container-left {
    width: 100%;
    float: left;
    height: 300px;
  }

  .information-container-right p {
    font-size: 16px;
    text-align: center;
  }

  .information-container-right-button {
    margin-top: 15px;
    font-size: 16px;
    padding: 13px;
  }

  .information-container-right-button:hover {
    border: 3px solid rgb(72, 72, 235);
    color: white;
    background-color: #114ace;
    box-shadow: 1px 8px 27px -11px rgba(32, 32, 37, 1);
  }
}
@media only screen and (max-width:455px) {
  .information-container {
    height: 600px;
  }

  .information-container-right h1 {
    font-size: 27px;
  }

  .information-container-right {
    width: 100%;
    float: left;
    height: 300px;
    box-shadow: 1px 8px 27px -11px rgba(32, 32, 37, 1);
  }
  .information-container-right-button {
    font-size: 16px;
    padding: 13px;
  }
} 
@media only screen and (max-width:340px) {
  .information-container {
    height: 620px;
  }

  .information-container-right h1 {
    font-size: 23px;
  }

  .information-container-right p {
    font-size: 15.2px;
    text-align: center;
  }

  .information-container-right {
    width: 100%;
    float: left;
    height: 320px;
    box-shadow: 1px 8px 27px -11px rgba(32, 32, 37, 1);
  }
  .information-container-right-button {
    font-size: 15.2px;
    padding: 13px;
  }
}