.header {
    height: 100px;
    background: #132e6c;
    box-shadow: inset 5px 5px 50px 5px #114ace;
}

.menu-logo {
    float: left;
    width: 40%;
    height: 100%;
    padding: 7px;
    background-image: url(../images/logotyp.png);
    background-repeat: no-repeat;
    background-size: 440px;
    background-origin: content-box;
}

.menu-options {
    height: 100%;
}

.menu {
    float: left;
    width: 60%;
    height: 100%;
}

.menu a.menu-option {
    color: white;
    font-size: 19.5px;
    padding: 15px 15px;
    text-transform: uppercase;
}

.menu a.menu-option:hover {
    background: #132e6c;
    border-radius: 10px;
    border: 1px solid white;
    transition: 0.3s;
    box-shadow: inset 5px 5px 10px 5px #114ace;
}

.menu-options ul li {
    display: inline-block;
}

.menu-options ul {
    float: right;
    margin: 35px;
}

@media(max-width: 1120px) {

    .menu-underline-animation {
        display: inline-block;
        position: relative;
        color: black;
      }
      
      .menu-underline-animation::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1.5px;
        bottom: 0;
        left: 0;
        background-color: black;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      .menu-underline-animation:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

    .menu a.menu-option {
        color: black;
    }

    .menu {
        float: left;
        width: 100%;
        margin-bottom: 20px;
    }

    .menu-logo {
        float: left;
        padding: 7px;
        width: 90%;
        height: 100%;
        background-image: url(../images/logotyp.png);
        background-repeat: no-repeat;
        background-size: 440px;
        background-origin: content-box;
    }

    .menu-options {
        margin-top: 1px;
        display: block;
        background: white;
        border-bottom: 1px solid black;
        border-top-left-radius: -50px -20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        animation: mymove 0.6s;
        position: relative;
    }

    @keyframes mymove {
        from {
            top: -4%;
        }

        to {
            top: 0%;
        }
    }

    .menu-options ul {
        width: 100%;
        margin: 0px;
        padding: 35px;
        top: 80px;
        text-align: center;

    }

    .menu a.menu-option:hover {
        background: none;
        box-shadow: none;
        border: 0;
    }

    .menu-options ul li {
        display: inline-block;
        margin-left: 20px;
    }
}
@media(max-width: 900px) {
    .menu-logo {
        background-image: url(../images/logotyp.png);
        background-size: 290px;
        padding: 25px;
        background-position: center;
        width: 100%;
    }

    .menu-options {
        margin-top: 1px;
        margin-bottom: 10px;
        border-bottom: 1px solid black;
        position: relative;
    }

    @keyframes mymove {
        from {
            top: -2%;
        }

        to {
            top: 0%;
        }
    }

    .menu-options ul li {
        font-size: 20px;
        width: 100%;
        margin: 0px;
        top: 80px;
        padding: 10px;
        text-align: center;
        display: list-item;
    }

    .menu-options ul {
        width: 100%;
        margin: 0px;
        padding: 0px;
        top: 80px;
        text-align: center;
    }
    .menu {
        float: left;
        width: 100%;
        height: 230px;
    }
}