.root-animate-keywords-container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.root-animate-keywords-container-content {
  font-size: 22px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.root-animate-keywords-container-words {
  font-size: 100px;
  -webkit-text-stroke: 1px #132e6c;
  -webkit-text-fill-color: #fff;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  width: 100%;
  content: "";
}

.root-animate-keywords-container-words-animation::before {
  animation: animate-keywords infinite 4s;
  content: "";
}

@keyframes animate-keywords {
  0% {
    content: "Think Two.";
  }

  100% {
    content: "Code One.";
  }
}

@media only screen and (max-width: 1280px) {
  .root-animate-keywords-container-words {
    font-size: 90px;
  }
  .root-animate-keywords-container-content {
    font-size: 20px;
  }
}

@media (max-width: 1020px) {
  .root-animate-keywords-container-words {
    font-size: 90px;
  }
}


@media (max-width: 900px) {
  .root-animate-keywords-container-words {
    font-size: 80px;
  }

  .root-animate-keywords-container-content {
    font-size: 20px;
  }
}


@media (max-width: 600px) {
  .root-animate-keywords-container-words {
    font-size: 60px;
  }

  .root-animate-keywords-container-content {
    font-size: 17px;
  }
}

@media (max-width: 340px) {
  .root-animate-keywords-container-words {
    font-size: 50px;
  }

  .root-animate-keywords-container-content {
    font-size: 15.2px;
  }
}